.cursor-pointer {
  cursor: pointer;
}

#table_toptokens {
  table-layout: fixed;
  width: 100%;
}

#table_toptokens th,
td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#table_toptokens th:nth-child(1) {
  width: 15%;
}

#table_toptokens th:nth-child(2) {
  width: 15%;
}

#table_toptokens th:nth-child(3) {
  width: 30%;
}

#table_toptokens th:nth-child(4) {
  width: auto;
}

#table_toptokens th:nth-child(5) {
  width: auto;
}
